@import "compass/css3/border-radius";
@import "mixin";
@import "setting";

.view_map{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.content{
    width: 80%;
    margin: 0 auto;
    dt{
        width: 30% !important;
    }
    dd{
        width: 70% !important;
    }
    p{
        color: $mainColor;
        padding: 10px 0;
        border-top: 1px solid $formGray;
        border-bottom: 1px solid $formGray;
    }
}
.btn_area{
    width: 100%;
    background: #f3f3f3;
    padding: 25px 0 30px 0;
    text-align: center;
    margin: 30px 0 15px 0;
    h3{
        width: 80%;
        margin: 0 auto;
        @include font-size(1.8);
        margin-bottom: 15px;
    }
    form{
        width: 80%;
        margin: 0 auto;

        button{
            width: 100%;
            color: #fff;
            @include font-size(1.8);
            padding: 10px 0;
            border: 0;
            background-color: #51c4d4;
            margin-bottom: 6px;
            &.success{
                background: #6bd909;
            }
        }
    }
    a{
        color: $mainColor;
        text-decoration: underline;
        font-size: 12px;
    }
    .or{
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid #666666;
        position: relative;
        margin-top: 15px;
        padding: 0 0 15px 0;
        span{
            position: absolute;
            display: block;
            top: -7px;
            left: 45%;
            padding:0 5px;
            background: #f3f3f3;
            @include font-size(1.2);
            color: #666666;


        }
    }
}
.btn{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    button{
        width: 80%;
        @include font-size(1.8);
        text-align: center;
        border: 0;
        padding: 12px 0 8px 0;
        margin: 0 0 15px 0;
    }
    &.cancel{
        button{
            background: #cccccc;
            color: #fff;
        }
    }

    &.top{
        button{
            background: $colorGreen;
            color: #fff;
        }
    }

    span{
        @include font-size(1.2);
        color: #cccccc;
    }
}
