@charset "utf-8";

/* ----------------------------------------
	Base Style Seet

	//base
	0. default(reset)
	1. header
	2. footer
	3. link
	4. h
---------------------------------------- */

/* ----------------------------------------
	0. default(reset)
---------------------------------------- */

html, body {
  height: 100%;
}

body{
	background-color:#f3f3f3;
	width: 100%;
	overflow: hidden;
	/*font*/
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	color:#192128;
	font-size:14px;
	line-height:1.5;
}

/*@media (max-width: 480px) {
body{
	font-size:17px;
	color:#43271c;
	line-height:1.8;
	background-color:#fff;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	width: 100%;
	overflow: hidden;
}
}*/

header,footer,nav,section,article,figure,aside {
	display:block;
}

@font-face {
	/*LondrinaSolid-Regular*/
  font-family: 'LondrinaSolid-Regular';
  src: url('../fonts/LondrinaSolid-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LondrinaSolid-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LondrinaSolid-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LondrinaSolid-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LondrinaSolid-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {		 
	/*nevis*/
  font-family: 'nevis';
  src: url('../fonts/nevis.eot'); /* IE9 Compat Modes */
  src: url('../fonts/nevis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nevis.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nevis.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nevis.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@media (max-width: 768px) {
	img{
		max-width: 100%;
		height: auto;
	}
}

/* ----------------------------------------
	1. header
---------------------------------------- */

header {
	background-color:#f3f3f3;
	position: fixed;
	display:block;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	padding:10px 0;
}

@media (max-width: 768px) {
header {
	padding-top:5px;
}
}

	header .toggle {
		float:left;
		margin-left:20px;
		cursor:pointer;
		/*font*/
		font-size:150%;
		color:#192128;
	}
	
	@media (max-width: 900px) {
	header .toggle {
		float:left;
		margin-left:20px;
		margin-top:8px;
		cursor:pointer;
		/*font*/
		font-size:150%;
		color:#192128;
	}
	}

	
	header .logo {
		float:left;
		margin-top:8px;
	}
	
	header ul {
		margin-top:10px;
		/*font*/
		font-family: 'nevis';
		color:'*'
	}
	
	@media (max-width: 768px) {
	header ul {
		margin-top:0px;
		/*font*/
		font-family: 'nevis';
		color:'*'
	}
	}
	
	header ul.h_menu {
		float:right;
		margin:15px 20px 0 0;
	}
	
		header ul.h_menu li {
			float:left;
		}
		
			header ul.h_menu li a, header ul.h_menu li a:link {
				/*font*/
				color:#192128;
			}
			
			header ul.h_menu li a:hover {
				/*font*/
				color:#666;
			}
			
			header ul.h_menu li a.current!important {
				/*font*/
				color:666;
			}

	header .user {
		background-color:'*';
		float:right;
		margin:0;
		margin-top:8px;
		}
		
		header .user .thmb {
			float: left;
			height:30px;
			width:30px;
			background-size: cover;
		}
		
		header .user .name {
			float:left;
			padding:5px 20px 0 20px;
			/*font*/
			font-family: 'nevis';
			color:#fff;
		}

/* ----------------------------------------
	2. footer
---------------------------------------- */

/* ----------------------------------------
	3. link
---------------------------------------- */

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a.btn:hover,
button.btn:hover{
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}
	
/* ----------------------------------------
	5. h
---------------------------------------- */

h2,h3 {
	font-weight:lighter;
}



