@charset "utf-8";

/* ----------------------------------------
	Page Style Seet

	0. common
	1. job_feed(top)
		1-1. 
	2. job_detail
	3. apply_list
	4. profile
	5. message
	6. setting
	7. popup
	---------------------------------------- */



/* ----------------------------------------
0.common
---------------------------------------- */

.common {
	width:98%;
	margin:0 auto;
	margin-top:65px;
	background:#11171b;
	border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
	position:relative;/*=>L_menu,Status_menu*/
}

@media (max-width: 900px) {
.common {
	width:100%;
	margin-top:55px;
	border-radius: 0px; 
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px;
	position:relative;/*=>L_menu,Status_menu*/
}
}

.L_menu {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100px;
}

@media (max-width: 900px) {
.L_menu {
	display:none;
}
}

	.L_menu ul {
		*
	}
		
		.L_menu ul li {
			margin:0;
			height:80px;
			border-right:#2d3338 solid 4px;
			border-bottom:#2c343a solid 1px;
		}
		
		.L_menu ul li.glass {
			background-image: url(../svg/glass.svg);
			background-size: 30px 30px;
			background-position: center 50%;
			background-repeat: no-repeat;
		}
		
		.L_menu ul li.glass:hover, .L_menu ul li.glass.current {
			background-image: url(../svg/glass_h.svg);
			/*background-color:#0c1013;*/
			border-right:#666 solid 4px;
		}
		
		.L_menu ul li.job_feed {
			background-image: url(../svg/job_feed.svg);
			background-size: 30px 30px;
			background-position: center 50%;
			background-repeat: no-repeat;
		}
		
		.L_menu ul li.job_feed:hover, .L_menu ul li.job_feed.current {
			background-image: url(../svg/job_feed_h.svg);
			background-color:#0c1013;
			border-right:#74c048 solid 4px;
		}
		
		.L_menu ul li.user {
			background-image: url(../svg/user.svg);
			background-size: 30px 30px;
			background-position: center 50%;
			background-repeat: no-repeat;
		}
		
		.L_menu ul li.user:hover, .L_menu ul li.user.current {
			background-image: url(../svg/user_h.svg);
			background-color:#0c1013;
			border-right:#faa61a solid 4px;
		}
		
		.L_menu ul li.chat {
			background-image: url(../svg/chat.svg);
			background-size: 30px 30px;
			background-position: center 50%;
			background-repeat: no-repeat;
		}
		
		.L_menu ul li.chat:hover, .L_menu ul li.chat.current {
			background-image: url(../svg/chat_h.svg);
			background-color:#0c1013;
			border-right:#2584c5 solid 4px;
		}
		
		.L_menu ul li.setting {
			background-image: url(../svg/setting.svg);
			background-size: 30px 30px;
			background-position: center 50%;
			background-repeat: no-repeat;
		}
		
		.L_menu ul li.setting:hover, .L_menu ul li.setting.current {
			background-image: url(../svg/setting_h.svg);
			background-color:#0c1013;
			border-right:#ed1763 solid 4px;
		}

.Status_menu {
	position:absolute;
	top:0;
	left:100px;
	z-index:100;
	padding:20px;
	width:300px;
	height:100%;
}

@media (max-width: 900px) {
.Status_menu {
	display:none;
}
}

	.Status_menu h2 {
		padding:20px 0;
		/*font*/
		text-align:center;
		font-size:120%;
		font-family: 'nevis';
		font-weight:lighter;
		line-height:120%;
	}
	
	.Status_menu .user {
		text-align:center;
		cursor:pointer;
	}
	
		.Status_menu .user img {
			position:relative;
			width:100%;
			height:auto;
		}
		
		.Status_menu .user img:hover {
			/* box-shadow */
			box-shadow:rgba(219, 154, 40, 0.65098) 0px 0px 6px 3px;
			-webkit-box-shadow:rgba(219, 154, 40, 0.65098) 0px 0px 6px 3px;
			-moz-box-shadow:rgba(219, 154, 40, 0.65098) 0px 0px 6px 3px;
		}
	
		.Status_menu .user span {
			display:block;
			position:absolute;
			top:85px;
			right:35px;
			/*font*/
			font-size:250%;
			color:#fff;
		}
	
	/*job menu*/
	.Status_menu ul.job_menu {
		padding:20px;
	}
	
		.Status_menu ul.job_menu li {
			margin-bottom: 15px;
			/*font*/
			color:#192128;
		}
		
		.Status_menu ul.job_menu li.configuration:before {
			content: url("../svg/configuration.svg");
			height:20px;
			width:20px;
			display:block;
			float:left;
			margin-right:10px;
		}
		
		.Status_menu ul.job_menu li.logout:before {
			content: url("../svg/logout.svg");
			height:20px;
			width:20px;
			display:block;
			float:left;
			margin-right:10px;
		}
		
			.Status_menu ul.job_menu li a, .Status_menu ul.job_menu li a:link {
				/*font*/
				color:#192128;
			}
			
			.Status_menu ul.job_menu li a:hover {
				/*font*/
				color:#fff;
			}
			
			.Status_menu ul.job_menu li.current {
				filter:alpha(opacity=40);
				-moz-opacity: 0.4;
				opacity: 0.4;
			}

	/*job menu*/
	.Status_menu ul.message {
		padding:20px;
	}
	
		.Status_menu ul.message li {
			margin-bottom:20px;
			/*font*/
			font-size:120%;
			color:#192128;
		}
		
			.Status_menu ul.message li:hover {
					/*font*/
					color:#fff;
			}
			
			.Status_menu ul.message li.current {
					filter:alpha(opacity=40);
					-moz-opacity: 0.4;
					opacity: 0.4;
					/*font*/
					color:#fff;
			}
		
			.Status_menu ul.message li img {
				margin-right:20px;
				height:30px;
				width:auto;
				vertical-align: middle;
			}

/*sp*/

.Status_menu-sp {
	display:none;
}

@media (max-width: 900px) {
.Status_menu-sp {
	display:block;
	position: fixed;
	top:50px;
	left:0;
	z-index:100;
	padding:10px;
	width:100%;
}
}

	.Status_menu-sp h2 {
		padding:10px 0;
		/*font*/
		text-align:center;
		font-size:120%;
		font-family: 'nevis';
		font-weight:lighter;
		line-height:120%;
	}
	
	.Status_menu-sp .user {
		background-color:'*';
		height:80px;
		margin:0 auto;
		margin-top:8px;
		}
		
	.Status_menu-sp .user .thmb {
		float: left;
		height:80px;
		width:80px;
		background-size: cover;
	}
	
	.Status_menu-sp .user .name {
		float:left;
		padding:32px 0 0 20px;
		/*font*/
		font-family: 'nevis';
		color:#ccc;
	}
	
	.Status_menu-sp select.select01 {
		padding:10px;
		border: none;
		width:100%;
		background-position: 95%  center;
	}

	/*job menu*/
	.Status_menu-sp ul.job_menu {
		padding:10px;
	}
	
		.Status_menu-sp ul.job_menu li {
			float:left;
			margin-right:10px;
			/*font*/
			color:#192128;
		}
		
		.Status_menu-sp ul.job_menu li.approve:before {
			content: url("../svg/approve.svg");
			height:20px;
			width:20px;
			display:block;
			float:left;
			margin-right:10px;
		}
		
		.Status_menu-sp ul.job_menu li.favourite:before {
			content: url("../svg/favourite.svg");
			height:20px;
			width:20px;
			display:block;
			float:left;
			margin-right:10px;
		}
		
		.Status_menu-sp ul.job_menu li.mode:before {
			content: url("../svg/mode.svg");
			height:20px;
			width:20px;
			display:block;
			float:left;
			margin-right:10px;
		}
		
			.Status_menu-sp ul.job_menu li a, .Status_menu ul.job_menu li a:link {
				/*font*/
				color:#192128;
			}
			
			.Status_menu-sp ul.job_menu li a:hover {
				/*font*/
				color:#fff;
			}
			
			.Status_menu-sp ul.job_menu li.current {
				filter:alpha(opacity=40);
				-moz-opacity: 0.4;
				opacity: 0.4;
			}

.Status_menu-sp2 {
	display:none;
}

@media (max-width: 900px) {
.Status_menu-sp2 {
	display:block;
	position: fixed;
	top:50px;
	left:0;
	z-index:100;
	padding:0;
	height:100%;
}

	/*job menu*/
	.Status_menu-sp2 ul.message {
		padding:10px;
		margin-top:5px;
	}
	
		.Status_menu-sp2 ul.message li {
			margin-bottom:10px;
			/*font*/
			font-size:120%;
			color:#192128;
		}
		
		.Status_menu-sp2 ul.message li.current {
				filter:alpha(opacity=40);
				-moz-opacity: 0.4;
				opacity: 0.4;
				/*font*/
				color:#fff;
		}
		
		.Status_menu-sp2 ul.message li img {
			height:30px;
			width:auto;
		}
}

/* ----------------------------------------
1. job_feed(top)
---------------------------------------- */

.job_feedContents {
	/*position:absolute;<=common
	top:0;
	right:0;
	display:block;*/
	margin-left:400px;
	padding-right:400px;/*negadive padding*/
	display:block;
	width:100%;
	padding-bottom: 0;
}

@media (max-width: 900px) {
.job_feedContents {
	/*position:absolute;<=common
	top:0;
	right:0;
	display:block;*/
	margin:0;
	padding:0;
	padding-top:85px;
	display:block;
	width:100%;
	padding-bottom: 0;
}

}

	/*company*/
	
	.job_feedContents .companyArea {
		overflow:hidden;
	}
	
		/*card*/
	
		.job_feedContents .companyArea ul.card {
			margin:0;
			padding:20px;
		}
		
			.job_feedContents .companyArea ul.card a {
				margin:0;
				/*font*/
				color:#fff;
			}
			
			.job_feedContents .companyArea ul.card a:hover {
				/*font*/
				color:#74c048;
			}

			.job_feedContents .companyArea ul.card li {
				float:left;
				border:#2f3941 solid 1px;
				margin-right:20px;
				margin-bottom:20px;
				
				position:relative;
				height:400px;
				width:30%;
				
				background:no-repeat center 30%;
				background-size:cover;
				
				-webkit-border-radius: 5px;
				-moz-border-radius:5px;
				border-radius: 5px;
				
			}
			
			@media (max-width: 1300px) {
			.job_feedContents .companyArea ul.card li {
				width:45%;		
			}
			
			.job_feedContents .companyArea ul.card li:nth-child(3) {
				margin-right:0;
			}
			}
			
			@media (max-width: 900px) {
			.job_feedContents .companyArea ul.card li {
				width:50%;
				margin:0;	
			}
			
			.job_feedContents .companyArea ul.card li:nth-child(2) {
				margin-right:0;
			}
			}
			
			@media (max-width: 480px) {
			.job_feedContents .companyArea ul.card li {
				height:200px;
				width:100%;
				margin-bottom:20px;
			}
			
			.job_feedContents .companyArea ul.card li .txtarea {
				height:200px;
				padding:0em;
				/*font*/
				font-size:80%;
			}
			
			.job_feedContents .companyArea ul.card li .txtarea .caption {
				padding-bottom:0;
			}
			}
	
				.job_feedContents .companyArea ul.card li .txtarea {
					width:100%;
					overflow:hidden;
					padding:1em;
					position:absolute;
					background-color:rgba(0,0,0,0.7);
					bottom:0px;
					-webkit-border-radius: 0px 0px 5px 5px / 0px 0px 5px 5px;
					-moz-border-radius: 0px 0px 5px 5px / 0px 0px 5px 5px;
					border-radius: 0px 0px 5px 5px / 0px 0px 5px 5px;
				}
				
				@media (max-width: 480px) {
				.job_feedContents .companyArea ul.card li .txtarea {
					height:50%;
				}
				}
	
					.job_feedContents .companyArea ul.card li .txtarea p {
						padding:0;
						margin:0;
					}
	
					/*
					.job_feedContents .companyArea ul.card li .txtarea .info {
						float:left;
						margin-top:2px;
						margin-right:10px;
						
						text-align:center;
						color:#fff;
						font-size:80%;
					}
					*/
	
						.job_feedContents .companyArea ul.card li .txtarea .info span {
							display:block;
						}
	
					.job_feedContents .companyArea ul.card li .txtarea .caption {
						width:100%;
						padding-bottom:10px;
						
						/*font*/
						font-size:90%;
						color:#fff;
					}
					
					.job_feedContents .companyArea ul.card li .txtarea .caption h3 {
						display:block;
						/*font*/
						font-family:'nevis';
						font-size:120%;
						font-weight:bold;
					}
	
					/*hover action*/
					
					.job_feedContents .companyArea ul.card li:hover {
						background:no-repeat center 50%;
						
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
					}
					
					.job_feedContents .companyArea ul.card li .txtarea .title:hover {
						/*font*/
						text-decoration:underline;
					}

/* ----------------------------------------
2. job_detail
---------------------------------------- */

.job_detailContents {
	margin-left:100px;
	padding-right:100px;
	padding-bottom: 0;
	display:block;
	width:100%;
}

@media (max-width: 900px) {
.job_detailContents {
	margin:0;
	padding:0;
	display:block;
	width:100%;
}
}

	/*fv*/
	
	.job_detailContents .fvArea {
		width:100%;
		height:650px;
		overflow:hidden;
		
		background:no-repeat center 30%;
		background-size: cover;
		
		-webkit-border-radius: 0px  5px 0px 0px / 0px  5px 0px 0px;
		-moz-border-radius: 0px  5px 0px 0px / 0px  5px 0px 0px;
		border-radius: 0px  5px 0px 0px / 0px  5px 0px 0px;

	}
	
	@media (max-width: 480px) {
	.job_detailContents .fvArea {
		width:100%;
		height:250px;
		overflow:hidden;
		background-color:#fff;
		background-size:100%;
		position:relative;
	}
	}
		
		.job_detailContents .fvArea h2 {
			margin-top:80px;
			height:80px;
			padding:10px;
			background-color:#74c048;
		}

		@media (max-width: 480px) {
		.job_detailContents .fvArea h2 {
					margin-top:200px;
					height:50px;
					padding:10px;
					background-color:#74c048;
		}
		}
		
			.job_detailContents .fvArea h2 img {
				float:left;
				width:60px;
				height:60px;
				margin-right:20px;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .fvArea h2 img {
				width:30px;
				height:30px;
				margin-right:20px;
			}
			}
			
			.job_detailContents .fvArea h2 span {
				float:left;
				display:block;
				margin-top:9px;
				/*font*/
				font-size:150%;
				font-family: 'nevis';
				font-weight:lighter;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .fvArea h2 span {
				margin-top:0;
				/*font*/
				font-size:110%;
			}
			}
			
			.job_detailContents .fvArea h2 input[type="submit"] {
				float:left;
				margin:17px 0 0 25px;
				background-color:#192128;
				padding:5px 25px;
				-webkit-border-radius: 50px;
				-moz-border-radius:50px;
				border-radius: 50px;
				cursor:pointer;
				/*font*/
				font-size:80%;
				color:#adadad;
				/*reset*/
				border:none;
			}
			
			.job_detailContents .fvArea h2 input[type="submit"]:hover {
				background-color:#666;
				/*font*/
				color:#fff;
			}
			
			.job_detailContents .fvArea h2 .sns_share01 {
				/*custom*/
				float:right;
				margin-top:6px;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .fvArea h2 .sns_share01 {
				/*custom*/
				position:absolute;
				top:10px;
				right:0px;
				float:right;
			}
			}
			
			.job_detailContents .fvArea h2 .sns_share01 ul li {
				background-color:#192128;
			}

		/*detail*/
		
		.job_detailContents .detailArea {
			width:100%;
			padding-bottom:50px;
			background-color:#060809;	
		}
		
			.job_detailContents .detailArea h3 {
				padding-top:50px;
				/*font*/
				font-size:400%;
				text-align:center;
				font-family: 'LondrinaSolid-Regular';
				color:#ffffff;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .detailArea h3 {
				/*font*/
				font-size:280%;
			}
			}
			
				.job_detailContents .detailArea h3 span {
					display:block;
					margin-top:20px;
					/*font*/
					color:#fff;
					font-size: 40%;
					text-align:center;
					color:#696969;
				}
				
				@media (max-width: 480px) {
				.job_detailContents .detailArea h3 span {
					margin-top:0px;
					/*font*/
					font-size:60%;
				}
				}
				
				.job_detailContents .detailArea h3 span a {
					/*font*/
					color:#696969;
				}
				
				.job_detailContents .detailArea h3 span a:hover {
					/*font*/
					color:#fff;
				}
				
					.job_detailContents .detailArea h3 span i {
						margin-right: 10px;
					}
					
				.job_detailContents .detailArea p.glass {
					padding-top:50px;
					width: 250px;
					margin:0 auto;
					/*font*/
					text-align:center;
				}
				
				@media (max-width: 480px) {
				.job_detailContents .detailArea p.glass {
					width:100px;
				}
				}

			.job_detailContents .detailArea div.value {
				width:90%;
				margin:30px auto;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;
				border:#e1e1e1 solid 1px;
				background-color:#fff;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .detailArea div.value {
				width:100%;
				margin:0;
				-webkit-border-radius:0px;
				-moz-border-radius:0px;
				border-radius:0px;
				border:none;
			}
			}
			
				.job_detailContents .detailArea div.value ul {
					margin:0;
				}
				
					.job_detailContents .detailArea div.value ul li {
						padding:45px;
						border-bottom:#e1e1e1 solid 1px;
					}
					
					@media (max-width: 480px) {
					.job_detailContents .detailArea div.value ul li {
						padding:20px;
						position:relative;
					}
					}
					
						.job_detailContents .detailArea div.value ul li h4  {
							margin-bottom:20px;
							/*font*/
							font-size:250%;
							font-weight:lighter;
						}
						
						.job_detailContents .detailArea div.value ul li h4:first-letter  {
							/*font*/
							font-family: 'LondrinaSolid-Regular';
						}
						
						.job_detailContents .detailArea div.value ul li p {
							float: left;
							padding-left:20px;
							width:75%;
							/*font*/
							line-height:180%;
							font-size:120%;
							color:#696969;
						}
						
						@media (max-width: 480px) {
						.job_detailContents .detailArea div.value ul li p {
							float: none;
							padding:0;
							width:100%;
						}
						}
					
						.job_detailContents .detailArea div.value ul li img {
							float: left;
							width: 25%;
							object-fit:cover;
						}
						
						@media (max-width: 480px) {
						.job_detailContents .detailArea div.value ul li img {
							float:none;
							margin-bottom:20px;
							width:100%;
						}
						}

			.job_detailContents .detailArea div.info {
				width:40%;
				padding-bottom:50px;
				margin:0 auto;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .detailArea div.info {
				width:90%;
				margin:0 auto;
			}
			}
			
				.job_detailContents .detailArea div.info h3 {
					border-top:#666 solid 1px;
					padding-top:0;
					/*font*/
					text-align:left;
					font-size:120%;
					font-family: 'nevis';
					color:#fff;
				}
				
				.job_detailContents .detailArea div.info li {
					padding-bottom:20px;
					/*font*/
					color:#666;
				}
				
					.job_detailContents .detailArea div.info li img {
						width:40%;
						height:auto;
					}

			.job_detailContents .detailArea div.cv {
				width:60%;
				margin:0 auto;
			}
			
			@media (max-width: 480px) {
			.job_detailContents .detailArea div.cv {
				width:95%;
				margin:0 auto;
			}
			}

				.job_detailContents .detailArea div.cv input[type="submit"] {
					width:100%;
					background-color:#fff;
					padding:15px;
					-webkit-border-radius: 50px;
					-moz-border-radius:50px;
					border-radius: 50px;
					cursor:pointer;
					/*font*/
					font-family: 'LondrinaSolid-Regular';
					font-size:400%;
					color:#060809;
					/*reset*/
					border:none;
				}
				
				@media (max-width: 480px) {
				.job_detailContents .detailArea div.cv input[type="submit"] {
					width:100%;
					background-color:#fff;
					padding:15px;
					-webkit-border-radius: 50px;
					-moz-border-radius:50px;
					border-radius: 50px;
					font-size:250%;
				}
				}
				
				.job_detailContents .detailArea div.cv input[type="submit"]:hover {
					background-color:#9ace21;
					box-shadow: 0 0 0 4px #fff inset;
					/*font*/
					color:#fff;
				}

/* ----------------------------------------
3. apply_list
---------------------------------------- */

.apply_listContents {
	margin-left:100px;
	padding-right:100px;
	padding-bottom: 0;
	display:block;
	width:100%;
}

@media (max-width: 900px) {
.apply_listContents {
	margin:0;
	padding:0;
	display:block;
	width:100%;
}
}
	
	.apply_listContents h2 {
		height:80px;
		padding:30px 0 0 30px;
		/*font*/
		font-family: 'nevis';
		font-size:120%;
		color:#faaa23;
	}
	
	.apply_listContents .applyArea {
		width:100%;
	}
		
		.apply_listContents .applyArea ul {
			margin:0;
			background-color:#101416;
			border-top:#464d53 solid 1px;
		}
		
			.apply_listContents .applyArea ul li {
				height:160px;
				padding:16px 0 10px 16px;
				border-bottom:#464d53 solid 1px;
			}
			
			@media (max-width: 480px) {
			.apply_listContents .applyArea ul li {
				width:100%;
				height:80px;
				padding:0;
			}
			}
			
			.apply_listContents .applyArea ul li:hover {
				background-color:#282f35;
			}
			
				.apply_listContents .applyArea ul li dl {
					display:block;
					width:100%;
					background-image:url(../svg/chat_h.svg);
					background:no-repeat center 30%;
					background-size:10px 10px;
				}
				
				@media (max-width: 480px) {
				.apply_listContents .applyArea ul li dl {
					/*font*/
					font-size:90%;
				}
				}
				
				.apply_listContents .applyArea ul li dt {
					float:left;
				}
				
					.apply_listContents .applyArea ul li dt img {
						width:120px;
						height:auto;
					}
					
					@media (max-width: 480px) {
					.apply_listContents .applyArea ul li dt img {
						width:60px;
						margin:9px 0 0 5px;
						height:auto;
					}
					}
				
				.apply_listContents .applyArea ul li dd {
					float:left;
					width:80%;
					padding-left:20px;
				}
				
				.apply_listContents .applyArea ul li dd:after {
					clear:both;
				}
				
					.apply_listContents .applyArea ul li dd h3 {
						margin-top:10px;
						/*font*/
						font-family: 'nevis';
						font-size:200%;
						color:#fff;
					}
					
					@media (max-width: 480px) {
					.apply_listContents .applyArea ul li dd h3 {
						margin-top:10px;
						/*font*/
						font-family: 'nevis';
						font-size:120%;
						color:#fff;
					}
					}
					
					.apply_listContents .applyArea ul li dd .meter {
						margin-top:15px;
						position:relative;
					}
					
					@media (max-width: 480px) {
					.apply_listContents .applyArea ul li dd .meter {
						margin-top:27px;
						position:relative;
					}
					}
					
						.apply_listContents .applyArea ul li dd .meter .meter01 {
							float:left;
							width:100%;
						}
						
						@media (max-width: 480px) {
						.apply_listContents .applyArea ul li dd .meter .meter01 .inner {
							padding:2px;
						}
						
							.apply_listContents .applyArea ul li dd .meter .meter01 .inner span {
								display:none;
							}
						}
					
						.apply_listContents .applyArea ul li dd .meter .notification {
							float:right;
							margin-top:5px;
							/*font*/
							text-align:left;
							font-size:100%;
							color:#fff;
						}
						
						@media (max-width: 480px) {
						.apply_listContents .applyArea ul li dd .meter .notification {
							position:absolute;
							top:-27px;
							right:0px;
							/*font*/
							text-align: right;
							font-size:100%;
							color:#fff;
						}
						}
						
							.apply_listContents .applyArea ul li dd .meter .notification span {
								/*font*/
								color:#9ace21;
							}

/* ----------------------------------------
4. profile
---------------------------------------- */

.profileContents {
	margin-left:400px;
	padding-right:400px;/*negadive padding*/
	display:block;
	width:100%;
}

@media (max-width: 900px) {
.profileContents {
	margin:0;
	padding:0;
	padding-top:120px;
	display:block;
	width:100%;
}
}
	
	.profileContents .formArea {
		width:100%;
		padding:45px;
	}
	
		.profileContents .formArea h3 {
			margin-bottom:10px;
			/*font*/
			font-family: 'nevis';
			color:#fff;
		}
		
		.profileContents .formArea .form02 ul li {
			margin-bottom:40px;
		}
	
/* ----------------------------------------
5. message
---------------------------------------- */

.messageContents {
	margin-left:400px;
	padding-right:400px;/*negadive padding*/
	padding-bottom: 0;
	display:block;
	width:100%;
}

@media (max-width: 900px) {
.messageContents {
	margin:0;
	padding:0;
	padding-left:50px;/*negadive padding*/
	padding-bottom: 0;
	display:block;
	width:100%;
}
}

	/*h2*/
	
	.messageContents h2 {
		height:80px;
		padding:10px;
		background-color:#fff;
	}
	
	@media (max-width: 900px) {
	.messageContents h2 {
		height:50px;
		padding:5px;
		background-color:#fff;
		/*font*/
		font-size:80%;
	}
	}
	
		.messageContents h2 img {
			float:left;
			width:60px;
			height:60px;
			margin-right:20px;
		}
		
		@media (max-width: 900px) {
		.messageContents h2 img {
			float:left;
			width:40px;
			height:40px;
			margin-right:10px;
		}
		}
		
		.messageContents h2 span {
			float:left;
			display:block;
			width:60%;
			margin-top:5px;
			/*font*/
			font-size:120%;
			font-family: 'nevis';
			font-weight:lighter;
		}
		
		@media (max-width: 900px) {
		.messageContents h2 span {
			width:80%;
			/*font*/
			font-size:120%;
		}
		}
		
			.messageContents h2 .meter {
				margin-top:15px;
			}
			
			@media (max-width: 900px) {
}
					
				.messageContents h2 .meter .meter01 {
					float:left;
					width:60%;
				}
				
				@media (max-width: 900px) {
				.messageContents h2 .meter .meter01 {
					float:left;
					width:80%;
				}
				}
		
			.messageContents h2 input[type="submit"] {
				float:left;
				margin:17px 0 0 25px;
				background-color:#192128;
				padding:5px 25px;
				-webkit-border-radius: 50px;
				-moz-border-radius:50px;
				border-radius: 50px;
				cursor:pointer;
				/*font*/
				font-size:80%;
				color:#adadad;
				/*reset*/
				border:none;
			}
			
			.messageContents h2 input[type="submit"]:hover {
				background-color:#666;
				/*font*/
				color:#fff;
			}
		
			.messageContents h2 .sns_share01 {
				/*custom*/
				float:right;
				margin-top:6px;
			}
		
				.messageContents h2 .sns_share01 ul li {
					background-color:#ccc;
				}

	/*chat*/
	
	.messageContents .chatArea {
		width:100%;
		position:relative;
		padding-bottom:130px;
	}
	
	@media (max-width: 900px) {
	.messageContents .chatArea {
		width:100%;
		position:relative;
	}
	}
	
		.messageContents .chatArea ul {
			width:100%;
			margin:0;
			background-color:#101416;
		}
		
			.messageContents .chatArea ul li {
				padding:16px;
			}
			
				.messageContents .chatArea ul li dl {
					display:block;
					width:100%;
				}
				
				.messageContents .chatArea ul li dt {
					float:left;
					padding:5px;
				}
				
					.messageContents .chatArea ul li dt img {
						width:80px;
						height:auto;
					}
					
					@media (max-width: 900px) {
					.messageContents .chatArea ul li dt img {
						width:40px;
						height:auto;
					}
					}
				
				.messageContents .chatArea ul li dd {
					float:left;
					width:80%;
					margin-left:20px;
				}
				
				@media (max-width: 900px) {
				.messageContents .chatArea ul li dd {
					float:left;
					width:70%;
					margin-left:20px;
				}
				}
				
				.messageContents .chatArea ul li dd:after {
					clear:both;
				}
				
					.messageContents .chatArea ul li dd h3 {
						margin-top:10px;
					}
					
					.messageContents .chatArea ul li dd h3 a {
						margin-top:10px;
						/*font*/
						font-family: 'nevis';
						font-size:120%;
						color:#348cc9;
					}
					
					.messageContents .chatArea ul li dd h3 span {
						margin-left:10px;
						/*font*/
						font-size:80%;
						color:#666;
					}
					
					.messageContents .chatArea ul li dd .txt {
						margin-top:15px;
						/*font*/
						color:#fff;
					}
					
				.messageContents .chatArea ul li.notification {
					background-color:#090b0c;
					border-top:#333 solid 1px;
					border-bottom:#333 solid 1px;
				}
				
					.messageContents .chatArea ul li.notification dd h3 a {
						margin-top:10px;
						padding:5px;
						/*font*/
						font-family: 'nevis';
						font-size:100%;
						color:#ccc;
						border:#ccc solid 1px;
						-webkit-border-radius:3px;
						-moz-border-radius:3px;
						border-radius:3px;
					}
					
					.messageContents .chatArea ul li.notification dd h3 a {
						margin-top:10px;
						padding:5px;
						/*font*/
						font-family: 'nevis';
						font-size:100%;
						color:#ccc;
						border:#ccc solid 1px;
						-webkit-border-radius:3px;
						-moz-border-radius:3px;
						border-radius:3px;
					}
					
					.messageContents .chatArea ul li.notification dd .txt {
						/*font*/
						color:#666;
						font-style:italic;
					}

		.messageContents .chatArea .input {
			position: fixed;
			left:0;
			bottom:0px;
			width:100%;
			box-shadow:0 8px 12px -8px #222;
			z-index:999;
		}
		
			.messageContents .chatArea .input .inner {
				width:98%;
				margin:0 auto;
				padding-left:400px;
				color:#fff
			}
			
			@media (max-width: 900px) {
			.messageContents .chatArea .input .inner {
				width:100%;
				padding-left:50px;
				color:#fff
			}
			}
			
				.messageContents .chatArea .input .inner .formArea {
					width:100%;
				}
		
/* ----------------------------------------
5. setting
---------------------------------------- */

.settingContents {
	margin-left:400px;
	padding-right:400px;/*negadive padding*/
	display:block;
	width:100%;
}

@media (max-width: 900px) {
.settingContents {
	margin:0;
	padding:0;
	padding-top:65px;
	display:block;
	width:100%;
}
}
	
	.settingContents .formArea {
		width:100%;
		padding:45px;
	}
	
		.settingContents .formArea h3 {
			margin-bottom:10px;
			/*font*/
			font-family: 'nevis';
			color:#fff;
		}
		
		.settingContents .formArea .form02 ul li {
			margin-bottom:40px;
		}

		
/* ----------------------------------------
7. popup
---------------------------------------- */

	/*login*/
	.popup01 .loginArea {
		padding:20px;
	}
	
		.popup01 .loginArea h2 {
			/*font*/
			font-size: 300%;
			text-align:center;
			font-family: 'LondrinaSolid-Regular';
			color:#11171b;
		}
		
			.popup01 .loginArea h2 span {
				display:block;
				margin-top:20px;
				/*font*/
				font-size:40%;
				color:#696969;
			}
			
			@media (max-width: 480px) {
			.popup01 .loginArea h2 span br {
				display:none;
			}
			}
	
			.popup01 .loginArea input[type="submit"] {
				/*reset*/
				-webkit-appearance:none;!important
				-moz-appearance:none;!important
				appearance:none;!important
				outline-style:none;
				border:0;
				
				width:100%;
				margin-top:50px;
				background-color:#3B5998;
				padding:15px;
				-webkit-border-radius: 50px;
				-moz-border-radius:50px;
				border-radius: 50px;
				cursor:pointer;
				/*font*/
				font-family: 'nevis';
				font-size: 140%;
				color:#fff;
			}
	
	/*about*/
	.popup01 .aboutArea {
		padding:20px;
	}
	
		.popup01 .aboutArea h2 {
			/*font*/
			font-size:400%;
			text-align:center;
			font-family: 'LondrinaSolid-Regular';
			color:#11171b;
		}
		
			.popup01 .aboutArea h2 span {
				display:block;
				margin-top:20px;
				/*font*/
				font-size:30%;
				color:#696969;
			}
		
	
	
	

